calendar {
  width: 100%;
  border: 1px solid #cccccc;
  display: inline-block;
  margin-bottom: 10px;
}
calendar .header {
  width: 100%;
  background-color: #00b5ff;
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
}
calendar .header span {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
calendar .header i {
  padding: 12px;
  cursor: pointer;
}
calendar .header i:first-child {
  float: left;
}
calendar .header i:last-child {
  float: right;
}
calendar .week {
  width: 100%;
  border-top: 1px solid #cccccc;
  height: 40px;
}
calendar .week span {
  height: 40px;
  line-height: 40px;
  border-left: 1px solid #cccccc;
  width: 14.28571%;
  text-align: center;
  display: inline-block;
  margin-bottom: 15px;
}
calendar .week span:first-child {
  border-left: none;
}
calendar .week .days span {
  font-weight: bold;
  color: #00b5ff;
}
calendar .week .different-month {
  color: #c0c0c0;
}
calendar .week .selected {
  background-color: #00b5ff;
  color: #ffffff;
}
calendar .week .has-events:after {
  content: '\2022';
  color: #000;
}
calendar .week .important:after {
  color: #cc2311;
}
calendar .week .info:after {
  color: #145fd7;
}
calendar .week .balanced:after {
  color: #498f24;
}
calendar .week .royal:after {
  color: #552bdf;
}
.list .important {
  color: #cc2311;
}
.list .info {
  color: #145fd7;
}
.list .balanced {
  color: #498f24;
}
.list .royal {
  color: #552bdf;
}
