<div class="header">
    <i class="icon super-chevron-left" ng-click="previous()"></i>
    <span>{{ month.format("MMMM, YYYY") }}</span>
    <i class="icon super-chevron-right" ng-click="next()"></i>
</div>

<div class="week days">
    <span class="day" ng-repeat="day in days" >{{ day }}</span>
</div>

<div class="week" ng-repeat="week in weeks">
    <span class="day {{day.hasEvents}}" ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected), 'has-events': day.hasEvents }"
        ng-click="select(day)"
        ng-repeat="day in week.days">
        {{day.number}}
    </span>
</div>
